<div>
  <table>
    <th>Objets des emails</th>
    <% @email.each do |email| %>
      <tr>
        <td style="border: 2px solid black;"
        onclick="loadBody()"><%= email.objet %></td>
      </tr>
      <% end %>
  </table>
  <table>
    <th>Contenu de l'email</th>
    <tr>
      <td id="content"></td>
    </tr>
  </table>
</div>
