<div>
  <table>
    <th>Objets des emails</th>
    <% @email.each do |email| %>
      <tr>
        <td><%= email.objet %></td>
      </tr>
      <% end %>
  </table>
  <table>
    <th>Contenu de l'email</th>
    <tr>
      <td><%= @email.last.body %></td>
    </tr>
  </table>
</div>
