<div>
  <table class="table table-striped">
    <th>Objets des emails</th>
<div class="container-fluid">
  <div class="email-list">
    <ul class='brick-list'> 
      <% @email.each do |email| %>
        
        <li class='object'>
          <%= link_to email_path(email), remote: true do %>
            <%= email.objet %>
          <% end %>
          <i class="material-icons md-blue" id="email-id-<%= email.id %>">fiber_manual_record</i>
        </li>
            
      <% end %>
    </ul>
  </div>
  <div id="email-content">
  </div>
</div>